<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container" >
      <div class="topp">
        <div class="top1">
            <div><a href="">Fərdi</a></div>
            <div><a href="">Biznes</a></div>
            <div><a href="">Bank haqqında</a></div>
        </div>
        <div class="top2">
            <div><a href="">Onlayn növbə</a></div>
            <div><i class="fa fa-map-marker"></i><a href="">   ATM və filiallar</a></div>
            <div><i class="fa fa-phone"></i><a href=""> 981</a></div>
            <div><i class="fa fa-search"></i></div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Az
                    </button>
                    <ul class="dropdown-menu" >
                      <li><a class="dropdown-item" href="#">Eng</a></li>
                      <li><a class="dropdown-item" href="#">Ru</a></li>
                    </ul>
                </div>
            </li>
        </div>
      </div>
    </div>
    <hr style="margin-top: -12px;">

    

    <div class="container">
      <div class="topp2" style="display: flex; align-items: center; justify-content: space-between;" >
        <div class="navbar2">
            <div><a href=""><img src="yeloblog.svg" alt=""></a></div>
            <div><a href="">Kreditlər</a></div>
            <div><a href="cards.html">Kartlar</a></div>
            <div><a href="">Əmanətlər</a></div>
            <div><a href="">Cashback</a></div>
        </div>
            <div class="button1">
                <div ><button style="background-color: #FFC628;" ><i class="fa fa-sign-in" style="padding-right: px;"></i><a href="" > Internet Bank
                </a></button>
            </div>
                <div style="padding-left: 20px; background-color: white;" ><a class="toggle" href="menu.html"><button  style="width: 50px;" ><i class="fa fa-bars"></i></button></a>
                </div>
            </div>
      </div>
    </div>

    <br>

    <div class="container-fluid" >
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img style="background-color: #FFC628;padding-left: 800px; position: relative;"  src="1.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block" style="padding-top: 50px; padding-left: 0px;">
                  <h3>Taksit funksiyali kredit karti</h3>
                  <p>70/24 ustunlukle</p>
                  <button >Sifaris et</button>
                </div>
              </div>
              <div class="carousel-item">
                <img style="background-color: #FFC628;padding-left: 800px; position: relative;" src="cover2.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h3>30 000 AZN-dek</h3>
                  <p>Parlaq yay krediti</p>
                  <button>Sifaris et</button>

                </div>
              </div>
              <div class="carousel-item">
                <img style="background-color: #FFC628;padding-left: 800px; position: relative;" src="cover3.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Banka gelmeden</h3>
                  <p>Tam onlayn kredit</p>
                  <button>Sifaris et</button>

                </div>
              </div>
              <div class="carousel-item">
                <img style="background-color: #FFC628;padding-left: 800px; position: relative;" src="karusel4.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Ad gunu hediyyesi</h3>
                  <p>Endirimli ve kommissiyasiz kredit</p>
                  <button style="padding-top: 30px;">Sifaris et</button>

                </div>
              </div>
              <div class="carousel-item">
                <img style="background-color: #FFC628;padding-left: 800px; position: relative;" src="karusel5.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Baxisini deyis</h3>
                  <!-- <p>Some representative placeholder content for the third slide.</p> -->
                  <button>Sifaris et</button>

                </div>
              </div>
              <div class="carousel-item">
                <img style="background-color: #FFC628;padding-left: 800px; position: relative;" src="karusel6.webp" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Krediti cemi 7 deqiqeye al</h3>
                  <p>Onlayn sifaris et</p>
                  <button>Sifaris et</button>

                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <br><br>

    <div class="container" class="story">
      <div><h4>Storiler <span class="counter">3</span></h4></div>
      <div style="display: flex; justify-content: space-between;" >
          <div class="card"  style="background-color: #0071C7; ">
            <span class="tag" >kredit</span>
            <p  class="ppp" style="color: white;">databasesnafdfsfdfjdfdfj </p>
          </div>
          <div class="card" style="background-color: #81BD5B; background-image: url(st2.webp);">
            <span style="color: #81BD5B;" class="tagg" >Yelo kart</span>
            <p class="ppp" style="color: white;">databaseaksdlkefhakskaskfljfdl </p>
          </div>
          <div class="card " style="background-color: #D82A34; background-image: url(st3.webp);">
            <span style="color:#D82A34 ;" class="taggg" >#SeninleyikTurkiye</span>
            <p class="ppp" style="color: white;">databasekjahsfkajfoijsfjsijfijsdfsddk </p>

          </div>
      </div>
    </div>
    <br><br><br>
    <div class="container d-md-flex" >
      <div >
        <div class="card" style="width: 33rem;height: 300px;">
          <div class="card-body d-flex" style="background-color: #F3F1F7;">
            <div class="d-md-block"> 
            <h5 class="card-title">Yelo Light</h5>
            <br>
            <b class="b">İstənilən ödənişlər üçün doğru seçim</b>
            <br>
            <div >
            <div>
              <div>Qaliga gelir</div>
              <div>4%</div>
            </div>
            <div>
              <div>Cashback</div>
              <div>30%-dek</div>
            </div>
          </div>
          <br>
            <a href="#" class="btn btn-primary" style="background-color:#FFC628 ;color: black;">Sifaris et</a>
          </div>
          <div >
            <img  style="width: 11rem; margin-left: 50px; padding-bottom: 0px; " height="250px" src="kart.webp" alt="">
          </div>
          </div>
        </div>
      </div>
      <div  style="background-color: #F3F1F7;padding-left: 30px;">
        <br>
      <h4>Kredit Kalkulyatoru</h4>
      <br><br>
    <div class="form-group">
      <label for="aylikEmekHaqqi">Aylıq Emek Haqqı (AZN)</label>
      <div class="d-flex flex-column">
      <input type="number" id="aylikEmekHaqqi" min="0" value="0" oninput="hesapla()">
      <input style="margin-top: -8px;" type="range" id="emekHaqqiRange" min="0" max="14950" step="50" value="7500" oninput="updateInput('emekHaqqiRange', 'aylikEmekHaqqi', 'AZN')">
    </div>
    </div>
    <div class="form-group">
      <label for="mebleg">Məbləğ (AZN)</label>
      <div class="d-flex flex-column" style="padding-left: 80px;">
      <input type="number" id="mebleg" min="0" max="50000" value="0" oninput="hesapla()">
      <input style="margin-top: -8px;" type="range" id="meblegRange" min="0" max="50000" step="50" value="25000" oninput="updateInput('meblegRange', 'mebleg', 'AZN')">
      </div>
    </div>
    <div class="form-group">
      <label for="muddet">Müddət (Ay)</label>
      <div class="d-flex flex-column" style="padding-left: 90px;">

      <input type="number" id="muddet" min="0" max="59" value="0" oninput="hesapla()">
      <input style="margin-top: -8px;" type="range" id="muddetRange" min="0" max="59" step="1" value="30" oninput="updateInput('muddetRange', 'muddet', 'Ay')">
      </div>
    </div>
    <div class="result">
      <p>Aylıq Ödəniş: <span id="aylikOdeme"></span> AZN</p>
    </div>
    </div>
  </div>
    <br><br><br><br>
    <div class="container">
      <div><h4>Sizin ucun faydali</h4></div>
      <br>
      <div class="d-flex" style="width: 120%;">
        <div class="card" style="width: 33rem;height: 300px;">
          <div class="card-body d-flex" style="background-color: #F3F1F7;">
            <div class="d-md-block"> 
            <h5 class="card-title">Yelo App</h5>
            <p class="card-text">Yelo-dan yeni və parlaq mobil əlavə. Hesablarını izlə, köçürmə və ödənişlərini sürətli et.</p>
            <ul>
              <li class="d-flex">
                <a href="https://apps.apple.com/az/app/yelo/id1515449668" class="store apple" target="_blank"></a>
                  <div>
                    <img  src="apple.svg" alt="">
                    <span>Yukle</span>
                    <span>App Store</span>
                  </div>
              </li>
              <li>
                <img src="google_play.svg" alt="">
                <span>Yukle</span>
                <span>PlayStore</span>
                <a href="https://play.google.com/store/apps/details?id=az.yelo.app&hl=ru" class="store google_play" target="_blank"></a>
              </li>
              <li>
                <img width="30px" src="huawei_play.svg" alt="">
                <span>Yukle</span>
                <span>AppGallery</span>
                <a href="https://appgallery.huawei.com/#/app/C104500649" class="store huawei_play"></a>
              </li>
            </ul>
          </div>
          <div >
            <img  style="width: 12rem; " height="280px" src="fayda.webp" alt="">
          </div>

          </div>
        </div>
      

      <script type="text/javascript">
        var rates = {"bank":{"usd":{"buy":"1.6950","sell":"1.7015","cash_buy":"1.6950","cash_sell":"1.7015"},"eur":{"buy":"1.8600","sell":"1.9550","cash_buy":"1.8600","cash_sell":"1.9550"},"rub":{"buy":"0.0160","sell":"0.0220","cash_buy":"0.0160","cash_sell":"0.0220"},"gbp":{"buy":"2.1000","sell":"2.3400","cash_buy":"2.1000","cash_sell":"2.3400"}},"mb":{"usd":{"buy":"1.7000","sell":"1.7000"},"eur":{"buy":"1.9087","sell":"1.9087"},"rub":{"buy":"0.0188","sell":"0.0188"},"gbp":{"buy":"2.2254","sell":"2.2254"}}},
            calculate = function () {
                var c = $('.calculator'),
                    cash = $('.change_rates .select_content a.active').data('cash'),
                    from = c.find('select[name=from]').val(),
                    to = c.find('select[name=to]').val(),
                    curr = from === "azn" ? to : from,
                    buy = cash ? rates['bank'][curr]['cash_buy']  :  rates['bank'][curr]['buy'],
                    sell = cash ? rates['bank'][curr]['cash_sell'] : rates['bank'][curr]['sell'] ,
                    input_value = $('.input_value').val(),
                    input_result = $('.input_result'),
                    result = from === "azn"
                        ? (parseInt(input_value) / sell).toFixed(2) 
                        : (parseInt(input_value) * buy).toFixed(2) ;
    
                    console.log('Buy:'+buy);
                /*if (from !== "azn") {
                    $('.cr_item_curr[data-curr!=azn],.cr_item_buy[data-curr!=azn],.cr_item_sell[data-curr!=azn]').hide();
                    $('.cr_item_curr[data-curr=azn],.cr_item_buy[data-curr=azn],.cr_item_sell[data-curr=azn]').show();
                    $('.cr_item_buy[data-curr=azn]').html(buy);
                    $('.cr_item_sell[data-curr=azn]').html(sell);
                } else {
                    $('.cr_item_curr[data-curr!=azn],.cr_item_buy[data-curr!=azn],.cr_item_sell[data-curr!=azn]').show();
                    $('.cr_item_curr[data-curr=azn],.cr_item_buy[data-curr=azn],.cr_item_sell[data-curr=azn]').hide();
                }*/
                if(result=='NaN') result='Alıram';
    
                input_result.html(result);
            },
            table = function () {
                var cash = $('.change_rates .select_content a.active').data('cash')
                $('.cr_item_buy.table_buy_rate').map((index, item) => {
                    var item = $(item);
                    item.html(item.data((cash ? '' : 'no') + 'cash'));
                })
    
                $('.cr_item_sell.table_sell_rate').map((index, item) => {
                    var item = $(item);
                    item.html(item.data((cash ? '' : 'no') + 'cash'));
                })
            };
        $(function () {
            calculate();
            table();
        });
        $(document).on('click', '.change_rates .select_content a', function (e) {
            e.preventDefault();
            var t = $(this),
                c = t.closest('.change_rates'),
                title = t.text();
            c.find('.active_lang').html(title);
            c.find('.select_box').removeClass('open_select');
            t.parent('li').siblings().find('a').removeClass('active');
            t.addClass('active');
            calculate();
            table();
            return false;
        });
        $(document).on('change', '.s_curr', function (e) {
            var t = $(this),
                name = t.attr('name'),
                from = $('.s_curr[name=from]'),
                to = $('.s_curr[name=to]');
            if (name === "from") {
                if (t.val() === "azn") {
                    to.find('option[value!=azn]').show();
                    to.find('option[value=azn]').hide();
                    to.val(to.find('option:nth-child(2)').val());
                } else {
                    to.find('option[value=azn]').show();
                    to.find('option[value!=azn]').hide();
                    to.val(to.find('option').val());
                }
            }
            calculate();
            table();
        });
        $(document).on('keyup', '.input_value', calculate);
    </script>
<div class="d-block">
<div class="calculator" style="padding-left: 100px;">
  <div class="c_line">
      <input type="text" placeholder="Satıram" value="" class="c_int input_value only_number">
      <select name="from" class="s_curr">
      <option value="azn" selected="">AZN</option>
      <option value="usd">USD</option><option value="eur">EUR</option> </select>
  </div>
  <div class="c_line">
    <div class="c_int input_result">Alıram</div>
    <select name="to" class="s_curr">
    <option value="azn" style="display: none">AZN</option>
    <option value="usd" selected="">USD</option><option value="eur">EUR</option> </select>
  </div>
  <div class="c_result">
    <div class="cr_item">
      <p>Valyuta</p>
      <b class="cr_item_curr table_rate" data-curr="usd" style="display: block">USD</b>
      <b class="cr_item_curr table_rate" data-curr="eur" style="display: block">EUR</b>
    </div>
    <div class="cr_item">
      <p>Alış</p>
      <b class="cr_item_buy table_buy_rate" data-curr="usd" data-cash="1.6950" data-nocash="1.6950" style="display: block">1.6950</b>
      <b class="cr_item_buy table_buy_rate" data-curr="eur" data-cash="1.8600" data-nocash="1.8600" style="display: block">1.8600</b>
    </div>
    <div class="cr_item">
      <p>Satış</p>
      <b class="cr_item_sell table_sell_rate" data-curr="usd" data-cash="1.7015" data-nocash="1.7015" style="display: block">1.7015</b>
      <b class="cr_item_sell table_sell_rate" data-curr="eur" data-cash="1.9550" data-nocash="1.9550" style="display: block">1.9550</b>
    </div>
  </div>
  </div>
  </div>
  <div >
  <p class="info_p">Region filiallarında məzənnələr fərqli ola bilər</p>
  <a href="https://www.yelo.az/az/exchange-rates/" class="all_exchanges">Bütün məzənnələr</a>

</div>

</div>



    </div>







    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>

</html>