<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">

<body>
    <div style="background-color: #F3F1F7;">
    <div class="container d-flex " >
        <div><img style="width: 140%;" src="phone1.webp" alt=""></div>
        <div class="advantage_grid">
            <h2 style="padding-left: 205px; padding-bottom: 20px;">Sənin də hər yerdə qazandıran sarı kartın olsun!</h2>
            <ul class="row" style="width: 100%; padding-left: 200px; padding-bottom: 20px;">
                <li class="d-flex ">
                    <div class="icon"><img src="e1.svg" alt=""></div>
                    <h5>Ölkədaxili hər yerdə 0.5% cashback</h5>
                </li>
                <li class="d-flex ">
                    <div class="icon"><img src="e2.svg" alt=""></div>
                    <h5>Seçilmiş kateqoriyalarda 4%-dək cashback</h5>
                </li>
                <li class="d-flex ">
                    <div class="icon"><img src="e3.svg" alt=""></div>
                    <h5>Ünvana pulsuz çatdırılma</h5>
                </li>
                <li class="d-flex ">
                    <div class="icon"><img src="e4.svg" alt=""></div>
                    <h5>Kart hesabının qalığına gəlir illik 4% (AZN)*</h5>
                </li>
                <li class="d-flex ">
                    <div class="icon"><img src="e5.svg" alt=""></div>
                    <h5>1 illik - 10 AZN / 5 illik - 15 AZN və ya ilkin mədaxil ilə pulsuz</h5>
                </li>
                <li class="d-flex ">
                    <div class="icon"><img src="e6.svg" alt=""></div>
                    <h5>Partnyorlarda 30%-dək cashback</h5>
                </li>
            </ul>
            <div class="two_button" style="padding-top: 60px;padding-left: 200px;">
                <a href="" class="yellow to_form">Sifaris et</a>
                <a href="" class="white call_pdf_modal">Tariflere kecid et</a>
            </div>

        </div>
        
    </div>
</div>
<div class="container">
     
    <div style="text-align: center; padding-top: 20px">
    <h2>Yüksək cashback seçimləri</h2>
    <p>Hər ay seçilmiş karta görə 2 müxtəlif kateqoriyadan yüksək cashback qazan!</p>
    </div>
    <div class="cashback_four">
        <article>
            <div class="icon">
                <img src="c1.svg" alt="">
                <span>2%</span>
            </div>
            <h3>Market</h3>
            <p>Bütün supermarketlərdə yüksək cashback</p>
        </article>
        <article>
            <div class="icon">
                <img src="c2.svg" alt="">
                <span>4%</span>
            </div>
            <h3>Geyim</h3>
            <p>Bütün geyim mağazalarında yüksək cashback</p>
        </article>
        <article>
            <div class="icon">
                <img src="c3.svg" alt="">
                <span>4%</span>
            </div>
            <h3>YDM</h3>
            <p>Bütün Yanacaqdoldurma məntəqələrində yüksək cashback</p>
        </article>
        <article>
            <div class="icon">
                <img src="c4.svg" alt="">
                <span>4%</span>
            </div>
            <h3>Kafe & Restoranlar</h3>
            <p>Bütün Kafe və restoranlarda yüksək cashback</p>
        </article>

    </div>
    <div  class="etrafli">
        <div><h2>Əlavə məlumat</h2></div>
        <div class="info">
            <h3>Pulsuz 3 illik kartı 300 AZN / 300 USD / 300 EUR ilkin mədaxil etməklə əldə edə bilərsən!</h3>
            <p>Debet kart ilə dünyanın istənilən ölkəsində rahat alış-veriş, onlayn ödəniş və köçürmələr, restoran, otel, bilet və digər xidmətlərdən istifadə edə və ya vəsaiti rahat nağdlaşdıra bilərsiniz. Bu və daha çox üstünlüklərdən yararlanmaq üçün aşağıdakı sifariş formasından istifadə edərək debet kart sifarişi edə bilərsiniz.

                * Qalığa gəlir hesablanması limiti müştəri hesabı üzrə 10 000 AZN-ə qədərdir.</p>
        </div>

    </div>

</div>
<div style="background-color: #F3F1F7;padding-top: 200px;">
<div class="card_order_img">
    <h2>Yelo Light</h2>
    <div class="card_img">
        <span><img src="phone4.png" alt=""></span>
    </div>
</div>

<div class="cardorder"  >
    <section>
        <div class="order_form no_padding">
            <div class="form_self no_border">
               <div class="fs_inner card_form">
                <div class="two_input">
                    <div class="one_input">
                        <label>
                            <select name="card" class>
                                <option value disabled="disabled" selected="selected"></option>
                                <option value="165">VISA</option>
                                <option value="166">Mastercard</option>
                            </select>
                            <span>Kart novu</span>
                        </label>
                    </div>
                    <div class="one_input">
                        <label>
                            <select class>
                                <option value disabled="disabled" selected="selected"></option>
                                <option value="AZN">AZN</option>
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                            </select>
                            <span>Valyuta</span>
                        </label>
                    </div>
                </div>
                <div class="two_input">
                    <div class="one_input">

                    
                    <label>
                        <input type="text" placeholder class="mask_letter_az">
                        <span>Ad</span>
                    </label>
                </div>
                <div class="one_input">
                    <label>
                        <input type="text" placeholder class="mask_letter_az">
                        <span>Soyad</span>
                    </label>
                </div>
               </div>
               <div class="two_input">
                <div class="one_input">
                    <label>
                        <input type="text" name="phone" placeholder="+994 00 000 00 00" class="valid_always mask_phone_long">
                        <span>Mobil nomre</span>
                    </label>
                </div>
                <div class="one_input">
                    <label>
                        <input type="text" placeholder maxlength="7" class="fin_input not_symbols">
                        <span>FIN</span>
                    </label>
                </div>
               </div>
               <div class="two_input">
                    <div class="one_input">
                        <label>
                        <select class>
                            <option value disabled="disabled" selected="selected"></option>
                            <option value="prepayment">Kartin qiymetini odemekle</option>
                            <option value="postpayment">Ilkin medaxil ile</option>
                        </select>
                        <span>Odenis usulu</span>
                    </label>
                    </div>
                    <div class="one_input">
                        <label>
                            <input type="text" placeholder maxlength="7" class="fin_input not_symbols">
                            <span>Mexfi soz</span>
                        </label>
                    </div>
               </div>
               <h3 class="devider_h3">
                    <span>Tehvil ve odenis</span>
               </h3>
               <div class="one_input">
                <label>
                    <select class>
                        <option value disabled="disabled" selected="selected"></option>
                        <option value="delivery">Catdirilma ile - Pulsuz</option>
                        <option value="branch">Bankin filialindan</option>
                    </select>
                    <span>Elde etme usulu</span>
                </label>
               </div>
               <h4>Odenisi nece etmek isteyirsiniz?</h4>
               <div class="one_input">
                <label>
                    <select class>
                        <option value disabled="disabled" selected="selected"></option>
                        <option value="terminal">Terminaldan</option>
                    </select>
                    <span>Odenis vasitesi</span>
                </label>
               </div>
               <br>
               <div class="one_input">
                <label>
                    <input type="checkbox" checked="checked">
                    <em></em>
                    <span>“Davam et” basmaqla Asan finansdan fərdi məlumatların alınmasına razılıq verirəm</span>
                </label>
               </div>
               <span style="color: red;"></span>
               <div class="form_davam">
                <button type="submit" class="credit_buy">Davam et</button>
               </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="main.js"></script>

</body>

</html>