<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container"> 
    <div class="text-center">
    <h1>Kartlar</h1>
    <p >Online kart sifarişi xidməti: İndi siz evdən çıxmadan plastik kart sifariş edə bilərsiniz. Yelo Bankın təqdim etdiyi plastik kartlar ilə üstünlüklərdən yararlanmaq üçün tələsin. İstənilən yerdə istifadəsinin rahatlığı və üstünlükləri ilə Yelo Bank hesab kartları hər kəsin ürəyincə olacaq.</p>
</div>
<br><br><br>
    <div class="um"> 
<div >
    <div>
        <b class="com_card" >Yelo Light</b>
        <p class="com_p">Yelo kart rahatlıq anlayışını dəyişəcək - rahat xərcləyəcəksən, rahat izləyəcəksən, qazanacaqsan, endirimlər alacaqsan.</p>
    </div>
    <br>
    <div class="items">
    <div class="item">
        <p>Muddet</p>
        <b>1 il / 3 il </b>
    </div>
    <div class="item">
        <p>Valyuta</p>
        <b>AZN / USD / EUR </b>
    </div>
    <div class="item">
        <p>Cashback</p>
        <b>30%-dek </b>
    </div>
</div>
<div class="d-flex">
    <div><button class="ic" >Sifaris et</button></div>
    <b style="padding-top:50px ;padding-left: 50px; color: gray;"><a  href="card_etrafli1.html">Daha etrafli</a></b>
</div>
</div>
<div>
<div class="bg" >
    <img src="kart.webp" alt="">
</div>
</div>

</div>
</div>
<div class="container"> 
<br><br><br>
    <div class="um"> 
<div >
    <div>
        <b class="com_card" >Yelo Premium</b>
        <p class="com_p">Yelo kart rahatlıq anlayışını dəyişəcək - rahat xərcləyəcəksən, rahat izləyəcəksən, qazanacaqsan, endirimlər alacaqsan.</p>
    </div>
    <br>
    <div class="items">
    <div class="item">
        <p>Muddet</p>
        <b> 3 il </b>
    </div>
    <div class="item">
        <p>Valyuta</p>
        <b>AZN / USD / EUR </b>
    </div>
    <div class="item">
        <p>Cashback</p>
        <b>30%-dek </b>
    </div>
</div>
<div class="d-flex">
    <div><button class="ic" >Sifaris et</button></div>
    <b style="padding-top:50px ;padding-left: 50px; color: gray;"><a  href="">Daha etrafli</a></b>
</div>
</div>
<div>
<div class="bg" >
    <img src="visa-platinum.svg" alt="">
</div>
</div>

</div>
</div>
<div class="container"> 
    <br><br><br>
        <div class="um"> 
    <div >
        <div>
            <b class="com_card" >Yelo kredit karti</b>
            <p class="com_p">Yelo kart rahatlıq anlayışını dəyişəcək - rahat xərcləyəcəksən, rahat izləyəcəksən, qazanacaqsan, endirimlər alacaqsan.</p>
        </div>
        <br>
        <div class="items">
        <div class="item">
            <p>Muddet</p>
            <b>5 il </b>
        </div>
        <div class="item">
            <p>Valyuta</p>
            <b>AZN </b>
        </div>
        <div class="item">
            <p>Cashback</p>
            <b>30%-dek </b>
        </div>
    </div>
    <div class="d-flex">
        <div><button class="ic" >Sifaris et</button></div>
        <b style="padding-top:50px ;padding-left: 50px; color: gray;"><a  href="">Daha etrafli</a></b>
    </div>
    </div>
    <div>
    <div class="bg" >
        <img src="kart.webp" alt="">
    </div>
    </div>
    
    </div>
    </div>
    <div class="container"> 
        <br><br><br>
            <div class="um"> 
        <div >
            <div>
                <b class="com_card" >Yelo Light</b>
                <p class="com_p">Yelo kart rahatlıq anlayışını dəyişəcək - rahat xərcləyəcəksən, rahat izləyəcəksən, qazanacaqsan, endirimlər alacaqsan.</p>
            </div>
            <br>
            <div class="items">
            <div class="item">
                <p>Muddet</p>
                <b>1 il  </b>
            </div>
            <div class="item">
                <p>Valyuta</p>
                <b>AZN  </b>
            </div>
            <div class="item">
                <p>Cashback</p>
                <b>30%-dek </b>
            </div>
        </div>
        <div class="d-flex">
            <div><button class="ic" >Sifaris et</button></div>
            <b style="padding-top:50px ;padding-left: 50px; color: gray;"><a  href="">Daha etrafli</a></b>
        </div>
        </div>
        <div>
        <div class="bg" >
            <img src="yelo_digital.webp" alt="">
        </div>
        </div>
        
        </div>
        </div>
       











    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>
</html>