{% extends 'base.html' %}

{% block content %}

{% for card in cards %}
    <div class="container">
        <div class="text-center">
            <h1>Kartlar</h1>
            <p>Online kart sifarişi xidməti: İndi siz evdən çıxmadan plastik kart sifariş edə bilərsiniz. Yelo Bankın təqdim
                etdiyi plastik kartlar ilə üstünlüklərdən yararlanmaq üçün tələsin. İstənilən yerdə istifadəsinin rahatlığı
                və üstünlükləri ilə Yelo Bank hesab kartları hər kəsin ürəyincə olacaq.</p>
        </div>
        <br><br><br>
        <div class="um">
            <div>
                <div>
                    <b class="com_card">{{card.card_name}}</b>
                    <p class="com_p">{{card.description}}</p>
                </div>
                <br>
                <div class="items">
                    <div class="item">
                        <p>{{card.duration}}</p>
                        <b>{{card.duration_v}} </b>
                    </div>
                    <div class="item">
                        <p>{{card.currency}}</p>
                        <b>{{card.currency_v}}</b>
                    </div>
                    <div class="item">
                        <p>{{card.cashback}}</p>
                        <b>{{card.cashback}}</b>
                    </div>
                </div>
                <div class="d-flex">
                    <div><button class="ic">Sifaris et</button></div>
                    <b style="padding-top:50px ;padding-left: 50px; color: gray;"><a href="/card/card_id">Daha
                            etrafli</a></b>
                </div>
            </div>
            <div>
                <div class="bg">
                    <img src="kart.webp" alt="">
                </div>
            </div>

        </div>
    </div>

{% endfor %}

{% endblock %}