{% extends 'base.html' %}

{% block content %}

    <div style="width: 80%; margin:auto;">
        <div class="basliq">
            <h1>Kreditlər</h1>
        </div>
        <div class="metnkart">
            <p>Xərclərini təxirə salma, çünki dəstək
                üçün hər zaman Yelo Bank var. İndi kredit pul
                götürmək çox asan və sürətlidir. Sizə uyğun
                sərfəli bank kredit şərtləri və aşağı faizləri
                ilə istənilən növ kredit pul almaq
                üçün elə indi müraciət edərək, cəmi 7
                dəqiqəyə bank krediti əldə edin!</p>
        </div>

    {% for i in m1 %}
        <div class="cardkredit" >
            <div class="kartsol">
                <div>
                    <p style="font: 34px/1.6 'r', Arial, sans-serif; margin:0">{{ i.title }}</p>
                </div>
                <div style="font: 16px/1.6 'r', Arial, sans-serif; color:#00000080">
                    {{ i.desk1 }}
                </div>
                <div style=" padding:40px 0 50px; display: flex;">
                    <div>
                        <p style="margin:0; font: 16px/1.6 'r', Arial, sans-serif; color:#00000080"> {{ i.a1 }}</p>
                        <p style="margin:0 30px 0 0; font-size: 21px;font-family: 'm'; line-height: 26px;">{{ i.a11 }}
                        </p>
                    </div>
                    <div>
                        <p style="margin:0; font: 16px/1.6 'r', Arial, sans-serif; color:#00000080"> {{ i.a2 }}</p>
                        <p style="margin:0 30px 0 0; font-size: 21px;font-family: 'm'; line-height: 26px;">{{ i.a22 }}</p>
                    </div>
                    <div>
                        <p style="margin:0; font: 16px/1.6 'r', Arial, sans-serif; color:#00000080"> {{ i.a3 }}
                        </p>
                        <p style="margin:0 30px 0 0; font-size: 21px;font-family: 'm'; line-height: 26px;">{{ i.a33 }}            </p>
                    </div>
                </div>
                <div style="display: flex; ">
                    <div class="para" >
                        <a href="{{url_for('credit_detaill')}}">
                            <p id="sifaris"><b>Sifariş et</b></p>
                        </a>
                    </div>
                    <div class="ox-">
                        <a href="{{url_for('credit_detaill')}}"><p> <b style="color: #4d4c4c; padding-left: 20px;">Daha ətraflı </b> <img class="ox" src="static/image/blue_arr.svg" alt=""></p></a>
                    </div>
                </div>

            </div>

            <div><img src="" width="100%" height="600px" alt="">{{ i.image_img }} </div>
        </div>
{% endfor %}



        <div class="metn2kart">
            <p>Nağd kredit pula ehtiyacınız yaranarsa,
                nə etməli? Düzdür, etibar etdiyiniz bankda
                sizə sərfəli şərtlər təklif edən kredit
                goturmek lazımdır. Yelodan cibinizə
                uyğun şərtlərlə bank kredit almaq əlverişlidir!
                Hər növ istehlak krediti almağa sizə Bankımız sizə
                köməklik göstərəcək. Bugünədək minlərlə müştəri
                öz təxirəsalınmaz kredit pul ehtiyaclarını
                etibarlı tərəfdaş Yelo Bank-la həll edib.
                Bankın təkrar müştərilərinin üstünlük
                təşkil etməsi təsadüfi deyil. Bir dəfə
                bunun rahatlığını görənlər növbəti dəfə kredit almaq ya da digər bank xidmətləri
                üzrə təkrar müraciət edirlər. Burada
                bütün bank xidmətlərinin şərtləri olduqca
                əlçatandır, ona görə Bank kredit goturmek
                , digər istənilən xidmətlər
                üzrə müştərilərinin etibarını qazanmağa davam etməkdədir. </p>
        </div>
    </div>
{% endblock %}

