{% extends 'base.html' %}

{% block content %}


{% for m in m1 %}

    <div style="display: flex; background-color: #f3cf40;">
        <div style="width: 100%;"> 
            <div style="margin: 40px;">
                <p style="font-size: 55px; ">{{ m.title }}</p>
                <div style="display: flex; ">
                    <div style="width: 180px;
                    height: 60px;
                    transform: skew(-14deg, 0);
                    background: black;
                    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);" >
                        <a href="">
                            <p id="sifaris"><b style="color: aliceblue; padding-left:40px">Sifariş et</b></p>
                        </a>
                    </div>
                    <div class="ox-">
                    </div>
                </div>
            </div>
        </div>
        <div><img src=""  width="400" alt="">{{ m.image_img }}</div>

      </div>
      <br><br>
      <div > <h1 style="text-align: center;"></h1></div>
  
      <div style="display: flex;justify-content:space-evenly">
          <div style="display: flex;">
              <div><img src="mavi.png" height="80" alt=""></div>
              <div style="margin-left:20px"><p style="color: rgb(184, 187, 189);">{{ m.a1 }}</p><p><b>{{ m.a11 }}</b></p></div>
          </div>
          <div style="display: flex; margin-left:30px">
              <div><img src="qirmizi.png" height="80" alt=""></div>
              <div style="margin-left:20px"><p style="color: rgb(184, 187, 189);">{{ m.a2 }}</p><p><b>{{ m.a22 }}</b></p></div>
          </div>
          <div style="display: flex;">
              <div><img src="yasil.png" height="80" alt=""></div>
              <div style="margin-left:20px"><p style="color: rgb(184, 187, 189);">{{ m.a3 }}</p><p><b>{{ m.a33 }}</b></p></div>
          </div>
          <div style="display: flex;">
              <div><img src="son.png" height="80" alt=""></div>
              <div style="margin-left:20px"><p style="color: rgb(184, 187, 189);">{{ m.a4 }}</p><p><b>{{ m.a44 }}</b></p></div>
          </div>
      </div>
  <br><br>
      <div style="text-align: center;"><h2>Tələblər:</h2></div>
      <br>
      <div style="margin-left:90px">
      <div style="display: flex; ">
          <div><img src="static/image/saridaire.png" height="18" alt=""></div>
          <div style="color: rgb(184, 187, 189);">AR şəxsiyyət vəsiqəsi</div>
      </div>
      <div style="display: flex;">
          <div><img src="saridaire.png" height="18" alt=""></div>
          <div style="color: rgb(184, 187, 189);">Rəsmi gəlirləri təsdiq edən sənəd</div>
      </div>
      <div style="display: flex;">
        <div><img src="saridaire.png" height="18" alt=""></div>
        <div style="color: rgb(184, 187, 189);">Yaş həddi: min. 21 yaş</div>
    </div>
    <div style="display: flex;">
        <div><img src="saridaire.png" height="18" alt=""></div>
        <div style="color: rgb(184, 187, 189);">Son iş yerində təcrübə: min. 6 ay</div>
    </div>
    <div style="color: rgb(184, 187, 189);">Faktiki illik faiz dərəcəsi (FİFD): min. 13.5%, maks. 26.95%</div>
    </div>
<br><br> <br>
    <div style="text-align: center;"><h2>{{ m.desk2 }}</h2></div>
    <div style="display: flex; justify-content:center"> <img src="static/image/123.png" height="" alt=""></div>


    <div style="display: flex;justify-content:center !important;">
        <section>
            <form action="">
                <div  style="border:solid 1px #ECECEC;border-radius:10px;width: 550px;
            height: auto;display: flex;justify-content:center !important;"><br>
    
                    <div>
    
                        <div>
                            <div>
                                <br><br>
                                <label>
                                    <input type="text" placeholder="Ad" style="    height: 64px;
                                    padding: 0 16px;
                                    background: #fff;
                                    border: 1px solid #EAEAEA;
                                    font-size: 17px;
                                    color: #000;
                                    border-radius: 8px;">
                                </label>
                                <label>
                                    <input type="text" placeholder="Soyad" style="    height: 64px;
                                    padding: 0 16px;
                                    background: #fff;
                                    border: 1px solid #EAEAEA;
                                    font-size: 17px;
                                    color: #000;
                                    border-radius: 8px;">
                                </label>
                            </div><br>
                            <div>
                                <label>
                                    <input type="text" placeholder="Aylıq əməkhaqqı" style="    height: 64px;
                                    padding: 0 16px;
                                    background: #fff;
                                    border: 1px solid #EAEAEA;
                                    font-size: 17px;
                                    color: #000;
                                    border-radius: 8px;">
                            </label>
                            <label>
                                <input type="text" placeholder="İş yeri" style="    height: 64px;
                                padding: 0 16px;
                                background: #fff;
                                border: 1px solid #EAEAEA;
                                font-size: 17px;
                                color: #000;
                                border-radius: 8px;">
                            </label>
                        </div><br>
                    </div>
                    <div class="two_input">
                        <div class="one_input">
                            <label>
                                <select name="card" style="    height: 64px;
                                padding: 0 16px;
                                background: #fff;
                                border: 1px solid #EAEAEA;
                                font-size: 17px;
                                color: #000;
                                border-radius: 8px;">
                                    <option value="Prefiks">Prefiks</option>
                                    <option value="050">050</option>
                                    <option value="051">051</option>
                                    <option value="055">055 </option>
                                    <option value="070">070 </option>
                                    <option value="077">077 </option>
                                    <option value="099">099</option>
                                    <option value="010">010</option>
                                </select>
                                <input type="text" pattern="[0-9]{7}" maxlength="7" name="phone" placeholder="0000000"
                                    placeholder maxlength="7" value="" style="    height: 64px;
                                    width:180px;
                                    padding: 0 16px;
                                    background: #fff;
                                    border-radius: 8px;">
                            </label>
                            <label>
                                <input type="text" placeholder="İş yeri" style="    height: 64px;
                                padding: 0 16px;
                                background: #fff;
                                border: 1px solid #EAEAEA;
                                font-size: 17px;
                                color: #000;
                                border-radius: 8px;">
                            </label>
                        </div><br>
                    </div>
                    <div class="two_input">
                        <div class="one_input">
                            <label>
                                <select name="card" style="    height: 64px;
                                padding: 0 16px;
                                background: #fff;
                                border: 1px solid #EAEAEA;
                                font-size: 17px;
                                color: #000;
                                border-radius: 8px;">
                                    <option value="Prefiks">Prefiks</option>
                                    <option value="050">050</option>
                                    <option value="051">051</option>
                                    <option value="055">055 </option>
                                    <option value="070">070 </option>
                                    <option value="077">077 </option>
                                    <option value="099">099</option>
                                    <option value="010">010</option>
                                </select>
                                <input type="text" pattern="[0-9]{7}" maxlength="7" name="phone" placeholder="0000000"
                                    placeholder maxlength="7" value="" style="    height: 64px;
                                    width:180px;
                                    padding: 0 16px;
                                    background: #fff;


    
{% endfor %}
{% endblock %}
  