<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; background-color: #dcc259;">
        <div style="width: 100%;"> 
            <div style="margin: 40px;">
                <p style="font-size: 55px; ">İstehlak krediti</p>
                <div style="display: flex; ">
                    <div style="width: 180px;
                    height: 60px;
                    transform: skew(-14deg, 0);
                    background: black;
                    transition: all 0.2s cubic-bezier(.52, .01, .16, 1);" >
                        <a href="">
                            <p id="sifaris"><b style="color: aliceblue; padding-left:40px">Sifariş et</b></p>
                        </a>
                    </div>
                    <div class="ox-">
                    </div>
                </div>
            </div>
        </div>
        <div><img src="sifarissekil1.webp"  width="400" alt=""></div>

        
      


    </div>
    <br><br>
    <div > <h1 style="text-align: center;">Daha yaxşı həyat üçün</h1></div>

    <div style="display: flex;justify-content:space-evenly">
        <div style="display: flex;">
            <div><img src="mavi.png" height="80" alt=""></div>
            <div style="margin-left:20px"><p style="color: rgb(184, 187, 189);">Məbləğ</p><p><b>300-50 000</b></p></div>
        </div>
        <div style="display: flex; margin-left:30px">
            <div><img src="qirmizi.png" height="80" alt=""></div>
            <div style="margin-left:20px"><p style="color: rgb(184, 187, 189);">Müddət</p><p><b>6-59 ay</b></p></div>
        </div>
        <div style="display: flex;">
            <div><img src="yasil.png" height="80" alt=""></div>
            <div style="margin-left:20px"><p style="color: rgb(184, 187, 189);">İllik faiz dərəcəsi</p><p><b>min. 11.7%</b></p></div>
        </div>
        <div style="display: flex;">
            <div><img src="son.png" height="80" alt=""></div>
            <div style="margin-left:20px"><p style="color: rgb(184, 187, 189);">Komissiya</p><p><b>0 - 3.5%</b></p></div>
        </div>
    </div>
<br><br>
    <div style="text-align: center;"><h2>İstehlak krediti üçün tələblər</h2></div>
    <br>
    <div style="margin-left:90px">
    <div style="display: flex; ">
        <div><img src="saridaire.png" height="18" alt=""></div>
        <div style="color: rgb(184, 187, 189);">AR şəxsiyyət vəsiqəsi</div>
    </div>
    <div style="display: flex;">
        <div><img src="saridaire.png" height="18" alt=""></div>
        <div style="color: rgb(184, 187, 189);">Rəsmi gəlirləri təsdiq edən sənəd</div>
    </div>
    <div style="display: flex;">
        <div><img src="saridaire.png" height="18" alt=""></div>
        <div style="color: rgb(184, 187, 189);">Yaş həddi: min. 21 yaş</div>
    </div>
    <div style="display: flex;">
        <div><img src="saridaire.png" height="18" alt=""></div>
        <div style="color: rgb(184, 187, 189);">Son iş yerində təcrübə: min. 6 ay</div>
    </div>
    <div style="color: rgb(184, 187, 189);">Faktiki illik faiz dərəcəsi (FİFD): min. 13.5%, maks. 26.95%</div>
    </div>
<br><br> <br>
    <div style="text-align: center;"><h2>İstehlak Krediti üçün onlayn müraciət çox asandır</h2></div>
    <div style="display: flex; justify-content:center"> <img src="123.png" height="" alt=""></div>
    
</body>
</html>