{ % extends 'base.html' %}

{% block content %}
    <div id="sayfa2" style="display:none;">
        <div style="padding-left: 20px; background-color: white;">
            <button id="geriButton" style="width: 50px;" onclick="geriDon()"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="container">
        <div class="sub_menu_wrap d-flex">
            <div class="menu_left">
        <div class="exp_nav">
            <div class="exp_nav_item">
                <a  href="" class="m-nav" >Kreditler</a>
                <ul>
                    <li>Istehlak krediti</li>
                    <li>Onlayn kredit</li>
                    <li>Daşınmaz əmlak girov krediti</li>
                    <li>Əmanət təminatlı kredit</li>
                    <li>İpoteka krediti</li>
                </ul>
            </div>
            
            <div class="exp_nav_item">
                <a href="cards.html" class="m-nav">Kartlar</a>
                <ul>
                    <li><a href="card_info1.html">Yelo Light</a></li>
                    <li><a href="card_info2.html">Yelo Premium</a></li>
                    <li><a href="card_info3.html">Yelo kredit kartı</a></li>
                    <li><a href="card_info4.html">Yelo Digital Card</a></li>
                </ul>
            </div>
            <div class="exp_nav_item">
                <a href="" class="m-nav">Emanetler</a>
                <ul>
                    <li>Yelo Sabit</li>
                    <li>Yelo Yığım</li>
                </ul>
            </div>
            <div class="exp_nav_item">
                <a href="" class="m-nav">Kart Xidmetleri</a>
                <ul>
                    <li>Google Pay</li>
                    <li>Apple Pay</li>
                    <li>Onlayn PIN SET</li>
                    <li>Cashback</li>
                    <li>PIN Reset</li>
                    <li>PIN kodun dəyişdirilməsi</li>
                    <li>SMS məlumatlandırma</li>
                    <li>Premium kart xidmətləri</li>
                    <li>3D secure</li>
                    <li>Cash by code</li>
                    <li>Card to card</li>
                    <li>ATM PIN SET</li>


                </ul>
            </div>
            <div class="exp_nav_item">
                <a href="" class="m-nav">Pul kocurmeleri</a>
                <ul>
                    <li>Zolotaya Korona</li>
                </ul>
            </div>
            <div class="exp_nav_item">
                <a href="" class="m-nav">Onlayn xidmetler</a>
                <ul>
                    <li>Online kredit sifarişi</li>
                    <li>Onlayn ödəmə</li>
                    <li>Online kredit ödənişi</li>
                    <li>ƏDV geri al</li>
                    <li>Onlayn növbə</li>

                </ul>
            </div>
            <div class="exp_nav_item">
                <a href="" class="m-nav">Diger Xidmetler</a>
                <ul>
                    <li>Hesablaşma-kassa xidməti</li>
                    <li>Depozit qutuları</li>
                </ul>
            </div>
            <div class="exp_nav_item">
                <a href="" class="m-nav">Cashback</a>
                <ul></ul>
            </div>
            <div class="exp_nav_item">
                <a href="" class="m-nav">Forum</a>
                <ul></ul>
            </div>
            <div class="exp_nav_item">
                <a href="" class="m-nav">Kredit Kalkulyatoru</a>
                <ul></ul>
            </div>
            <div class="exp_nav_item">
                <a href="" class="m-nav">Teklif ve iradlar</a>
                <ul></ul>
            </div>
            </div>
        </div>
            <div class="menu_right">
                <img src="images/menu_kart.webp" alt="">
            </div>
        

    </div>
        </div>
    {% endblock %}