<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="xeber1.css">
</head>

<body>
    <div style="width: 80%; margin:auto;">
        <div style=" display:flex;">
            <div class="xeber" style="margin-right: 320px;">
                <div> <img src="ox.svg" alt=""> </div>
                <div><b><a>Xəbərlər siyahısı</a></b></div>
            </div>
            <div>
                <div style="color: rgba(0,0,0,0.5);font-family: Arial, Helvetica, sans-serif;"><b>Xəbərlər</b></div>
            </div>
        </div>

        <div class="basliq" style="display:flex; justify-content: center;">
            <p style="text-align: center;">Yelo Bank hesablarına ExpressPay ilə rahat mədaxil et</p>
        </div>
        <div style="display:flex; justify-content: center;"><time>6 iyul 2023</time></div>

        <br>
        <br>
        <br>
        <br>
        <div class="metn">
            <p>
                Yelo Bank müştərilərinin rahatlığı
                üçün ExpressPay ödəmə sisteminə qoşulub.
                Əvvəl terminal vasitəsilə yalnız Yelo
                kredit ödənişi etmək mümkün idisə,
                indi həm də Yelo cari hesabına və
                kartlarına mədaxil aktivdir. Bunun
                üçün ExpressPay terminallarındakı
                “Banklar” bölməsində “Yelo Bank”ı
                seçib, daha sonra aparmaq istədiyiniz
                bank əməliyyatında məlumatları daxil etməlisiniz.
                Qeyd edək ki, Yelo Bank-ın fiziki müştəriləri üçün
                aylıq mədaxil limiti 10000 AZN, hüquqi
                müştəriləri üçün isə gündəlik mədaxil limiti
                14499 AZN-dir. Hazırda 700-dən çox ExpressPay
                terminallarında günün istənilən vaxtı Yelo Bank
                hesablarına mədaxil edə bilərsiniz. Daxil
                edilmiş vəsait hesaba dərhal oturur.
                Əməliyyatlar yalnız AZN valyutasında
                həyata keçirilə bilər.
            </p>
            <br>
            <p>Xatırladaq ki, <a href="">onlayn ödəmə</a> aparmaq üçün Bankın
                Yelo mobil tətbiqi və İnternet Bankinqi 24/7 müştərilərin xidmətindədir.</p>
            <br>

            <div style="color:rgba(0,0,0,0.5);">
                <p>Bank xidmətləri haqqında əlavə sualınız var? O zaman 981 nömrəsinə zəng
                    edin və ya <a href="">Facebook</a>, <a href="">Instagram</a>
                    və ya <a href="">Whatsapp</a> hesablarımıza yazın.</p>
                <p>Yelo Bank – Parlaq bankçılıq!</p>
            </div>
        </div>
    </div>
</body>

</html>