{% extends 'base.html' %}

{% block content %}

    <br>
    <h1 style="text-align: center; font-family: Arial, sans-serif;"> Son Xəbərlər</h1>
    <br>

    <div class="container m-auto cardskredit1">
        {% for xeber in x1 %}
            <div class="cardfooter">
                <b>{{xeber.title}}</b>
                <div style="display: flex;justify-content:space-between" class="daha">
                    <a href="/xeber_detail/{{xeber.id}}" class="bttn" style="color:#0091FE;"><b>
                            Daha ətraflı</b> <img src="blue_arr.svg" alt=""></a>
                    <time>{{xeber.time}}</time>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
